<header>
  <h1>Roles for <%= @user.email %></h1>
</header>

<section id="user-roles-container" class="container">
  <h2>Project Roles</h2>

  <%= if Enum.empty?(@role_summary) do %>
    <p>No roles assigned yet!</p>
  <% end %>

  <%= for summary <- @role_summary do %>
    <%= form_for @conn, Routes.user_role_path(@conn, :create, @user),
          [as: :role, class: "user-role-group"], fn f -> %>
      <%= hidden_input f, :project_id, value: summary.project_id, id: nil %>
      <%= hidden_input f, :role, value: summary.role, id: nil %>
      <button type="button" class="btn-close" aria-label="Revoke role"></button>

      <label for="project-role_<%= summary.project_id %>" class="form-label">
        <span class="project-name"><%= summary.project %></span>
        <%= project_role_badge(summary.role) %>
      </label>
      <div class="input-group">
        <select id="project-role_<%= summary.project_id %>" name="role[role]" class="form-select" autocomplete="off">
          <%= for {role, label} <- role_labels() do %>
            <%= role_option(summary.role, role, label) %>
          <% end %>
        </select>
        <button type="submit" class="btn btn-outline-primary">Update</button>
        <span class="invalid-feedback invisible"></span>
      </div>
    <% end %>
  <% end %>

  <h3 id="grant-new-role-heading">Grant new roles</h3>

  <%= form_for @conn, Routes.user_role_path(@conn, :create, @user),
          [as: :role, id: "new_project_role_form"], fn f -> %>
    <%= select f, :project_id, Enum.map(@projects, fn project -> {project.name, project.id} end), class: "form-select" %>

    <select id="project_role_new" name="role[role]" class="form-select" autocomplete="off">
      <%= for {role, label} <- role_labels() do %>
        <%= role_option(nil, role, label) %>
      <% end %>
    </select>
    <span class="invalid-feedback invisible"></span>

    <button type="submit" class="btn btn-outline-primary">Add Role</button>
  <% end %>
</section>
