<%= form_for @changeset, @path, fn f -> %>
  <div class="form-group">
    <%= label f, :name, class: "form-label" %>
    <%= bootstrap_text_input f, :name, required: true %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "form-label" %>
    <%= bootstrap_textarea f, :description, required: true %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-actions">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
