<header class="page-header">
  <h1>Projects</h1>

  <div class="actions" role="group" aria-label="Page actions">
    <%= if admin?(@current_user) do %>
      <%= link "New Project", to: Routes.project_path(@conn, :new), class: "link-add" %>
    <% end %>
  </div>
</header>


<table class="table projects-table">
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <td></td>
  </thead>
  <tbody>
    <%= for project <- @projects do %>
      <tr class="project-row">
        <td><strong><%= link project.name, to: Routes.project_path(@conn, :show, project) %></strong></td>
        <td><%= project.description %></td>
      </tr>
    <% end %>
    <%= if Enum.empty?(@projects) do %>
      <tr>
        <td colspan="3">No projects yet.</td>
      </tr>
    <% end %>
  </tbody>
</table>
