<p><%= link "Back", to: Routes.project_path(@conn, :index) %></p>

<header class="page-header">
  <h1 class="project-name"><%= @project.name %></h1>

  <div class="actions" role="group" aria-label="Project actions">
  <%= if allowed?(@current_user, :update, @project) do %>
    <%= link "Edit", to: Routes.project_path(@conn, :edit, @project), class: "link-edit" %>
  <% end%>
  <%= if allowed?(@current_user, :delete, @project) do %>
    <%= link "Delete", to: Routes.project_path(@conn, :delete, @project), class: "link-delete",
              method: :delete, data: [confirm: "Are you sure?"] %>
  <% end %>
  </div>
</header>

<section class="container">
  <div class="project-description">
    <%= text_to_html(@project.description) %>
  </div>

  <header class="page-header">
    <h2>Tickets</h2>

    <div class="actions" role="group" aria-label="Ticket actions">
      <%= link "Search Tickets", to: search_project_tickets_link(@conn, @project), class: "link-search" %>
      <%= if allowed?(@current_user, :create, {@project, Ticket}) do %>
        <%= link "New Ticket", to: Routes.project_ticket_path(@conn, :new, @project), class: "link-add" %>
      <% end %>
    </div>
  </header>

  <table class="table tickets-table">
    <thead>
      <tr>
        <th scope="col">Title</th>
        <th scope="col">State</th>
        <th scope="col">Description</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <%= for ticket <- @project.tickets do %>
        <tr class="ticket-row">
          <td><%= link ticket.title, to: Routes.project_ticket_path(@conn, :show, @project, ticket) %></td>
          <td><%= state_badge(ticket.state) %></td>
          <td><%= ticket.description %></td>
          <td></td>
        </tr>
      <% end %>
      <%= if Enum.empty?(@project.tickets) do %>
        <tr>
          <td colspan="3">No tickets yet for this project.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
