<header class="page-header">
  <div class="title-group">
    <h1>Tags</h1>
    <h2 class="ticket-title">
      <%= link @ticket.title, to: Routes.project_ticket_path(@conn, :show, @ticket.project_id, @ticket) %>
    </h2>
  </div>
</header>

<section class="container">
  <div class="ticket-tags-container">
    <%= for tag <- @ticket.tags do %>
      <span class="tag-badge">
        <%= tag.name %>
        <%= link "", to: Routes.ticket_tag_path(@conn, :delete, @ticket, tag),
              class: "remove-tag", title: "Remove '#{tag.name}' tag", method: :delete %>
      </span>
    <% end %>
  </div>

  <%= form_for @conn, Routes.ticket_tag_path(@conn, :create, @ticket),
              [id: "add-new-tags-form", class: "my-3"], fn _f -> %>
    <h3>Add new tags</h3>

    <div class="form-group" id="new-tag-container">
    </div>

    <div class="form-group">
      <div class="input-group w-50">
        <input type="text" id="new-tag-name" name="new_tag_name" list="tag_names" class="form-control">
        <datalist id="tag_names">
          <%= for tag <- @tags do %>
            <%= content_tag(:option, nil, value: tag.name) %>
          <% end %>
        </datalist>
        <button id="add-new-tag-button" type="button" class="btn btn-outline-primary">Add</button>
      </div>
    </div>

    <div class="form-actions">
      <%= submit "Save", class: "btn btn-primary" %>
    </div>
  <% end %>
</section>
