<header>
  <h1>Sign in</h1>
</header>

<%= form_for @conn, Routes.session_path(@conn, :create), [as: :session], fn f -> %>
  <div class="form-group">
    <%= label f, :email, class: "form-label" %>
    <%= bootstrap_email_input f, :email, required: true %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group">
    <%= label f, :password, class: "form-label" %>
    <%= bootstrap_password_input f, :password, required: true %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-actions">
    <%= submit "Sign in", class: "btn btn-primary" %>
  </div>
<% end %>
