<header>
  <h1>Update Account</h1>
</header>

<%= form_for @changeset, Routes.account_path(@conn, :update), fn f -> %>
  <div class="form-group">
    <%= label f, :email, class: "form-label" %>
    <%= bootstrap_email_input f, :email, required: true %>
    <%= error_tag f, :email %>
  </div>

  <fieldset>
    <legend>Change password</legend>

    <div class="form-group">
      <%= label f, :password, class: "form-label" %>
      <%= bootstrap_password_input f, :password %>
      <%= error_tag f, :password %>
    </div>

    <div class="form-group">
      <%= label f, :password_confirmation, class: "form-label" %>
      <%= bootstrap_password_input f, :password_confirmation %>
      <%= error_tag f, :password_confirmation %>
    </div>
  </fieldset>

  <div class="form-actions">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
