<header class="page-header">
  <h1>My Account</h1>

  <div class="actions" role="group" aria-label="Account actions">
    <%= link "Edit", to: Routes.account_path(@conn, :edit), class: "link-edit" %>
  </div>
</header>

<section class="container">
  <table id="user-attributes" class="table">
    <tbody>
      <tr>
        <th scope="row">Email</th>
        <td class="user-email"><%= @user.email %></td>
      </tr>
      <tr>
        <th scope="row">Role</th>
        <td class="user-role"><%= UserView.user_role(@user) %></td>
      </tr>
    </tbody>
  </table>

  <h2>Project Roles</h2>

<%= if Enum.empty?(@role_summary) do %>
  <p>No roles assigned yet!</p>
<% else %>
  <table id="user-project-roles" class="table">
    <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Role</th>
      </tr>
    </thead>
    <tbody>
      <%= for summary <- @role_summary do %>
        <tr id="project-<%= summary.project_id %>">
          <th scope="row"><%= summary.project %></th>
          <td><%= UserRoleView.project_role_badge(summary.role) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
</section>
