<%= form_for @changeset, @form_path, fn f -> %>
  <div class="form-group">
    <%= bootstrap_textarea f, :description, required: true, placeholder: "Comment..." %>
    <%= error_tag f, :description %>
  </div>

<%= if @allowed_select_state_id do %>
  <div class="form-group">
    <%= label f, :state_id, "State" %>
    <%= bootstrap_assoc_select(f, :state_id, @states) %>
    <%= error_tag f, :state_id %>
  </div>
<% end %>

  <div class="form-actions">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
