<header class="page-header">
  <div class="title-group">
    <h1>Edit Comment</h1>
    <h2 class="ticket-title">
      <%= link @ticket.title, to: Routes.ticket_comment_path(@conn, :index, @ticket) %>
    </h2>
  </div>
</header>

<section class="container">
  <%= render("_form.html", Map.merge(assigns, %{
        form_path: Routes.ticket_comment_path(@conn, :update, @ticket, @comment),
        allowed_select_state_id: false,
      })) %>
</section>
