<header class="page-header">
  <div class="title-group">
    <h1>Comments (<%= @ticket.comment_count %>)</h1>
    <h2 class="ticket-title">
      <%= link @ticket.title, to: Routes.project_ticket_path(@conn, :show, @ticket.project_id, @ticket) %>
      <%= state_badge(@ticket.state) %>
    </h2>
  </div>
</header>

<section class="container">
  <ul class="comments-container">
    <%= for comment <- @comments do %>
      <li class="comment">
        <div class="comment-content">
          <span class="comment-user"><%= comment_user(comment.user) %></span>
          <%= comment_state_transition(comment, @indexed_states) %>
          <%= text_to_html(comment.description, wrapper_tag: :span,
                attributes: [class: "comment-description"]) %>
          <span class="comment-inserted-at">
            <%= simple_datetime_format(comment.inserted_at) %>
            (<%= time_ago_in_words(comment.inserted_at) %>)
          </span>
        </div>
        <div class="actions">
          <%= if allowed?(@current_user, :update, {@ticket, comment}) do %>
            <%= link "Edit", to: Routes.ticket_comment_path(@conn, :edit, @ticket, comment),
                  class: "link-edit" %>
          <% end %>
          <%= if allowed?(@current_user, :delete, {@ticket, comment}) do %>
            <%= link "Delete", to: Routes.ticket_comment_path(@conn, :delete, @ticket, comment),
                   class: "link-delete", method: :delete,
                   data: [confirm: "Are you sure you want to delete this comment?"] %>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>

  <%= if allowed?(@current_user, :create, {@ticket, Comment}) do %>
    <header>
      <h2>New comment</h2>
    </header>

    <%= render("_form.html", Map.merge(assigns, %{
          form_path: Routes.ticket_comment_path(@conn, :create, @ticket),
          allowed_select_state_id: allowed?(@current_user, :update, @ticket),
        })) %>
  <% end %>
</section>
