/* Minimal css for emails support */
html {
  font-size: 16px;
  font-family: 'Helvetica', 'Arial', 'Trebuchet MS', 'Verdana', sans-serif;
}

body {
  max-width: 900px;
  margin: auto;
}

.state-badge {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: 0.75em;
  font-weight: bold;
  color: #fff;
  line-height: 1;
  text-align: center;
  vertical-align: baseline;
  border-radius: 0.25rem;
  white-space: nowrap;
}
