<h1><%= link @ticket.title, to: ticket_comments_url(@ticket) %></h1>

<div class="comment-user">
  <%= comment_user(@comment.user) %> has posted a new comment.
  <br>
  <%= comment_state_transition(@comment, @indexed_states) %>
</div>

<div class="comment-description">
  <%= text_to_html @comment.description %>
</div>
