A new comment has been added for the ticket: <%= @ticket.title %>
Use this link to view the comment: <%= ticket_comments_url(@ticket) %>

<%= comment_user(@comment.user) %> has posted a new comment.
<%= comment_state_transition_text(@comment, @indexed_states) %>

Comment description: <%= @comment.description %>
