<section id="admin-area" class="container">
  <div class="row">
    <article class="col-9">
      <header>
        <h1>Admin Lounge</h1>
      </header>

      <p>
        Welcome to Ticketee's Admin Lounge!<br>
        Please enjoy your stay!
      </p>
    </article>
    <article class="col-3">
      <h2>Admin Links</h2>

      <nav role="navigation" class="navbar navbar-stacked">
        <ul class="navbar-nav admin-nav-links">
          <li class="nav-item">
            <%= link "Users", to: Routes.user_path(@conn, :index), class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link "States", to: Routes.state_path(@conn, :index), class: "nav-link" %>
          </li>
        </ul>
      </nav>
    </article>
  </div>
</section>
