<%= form_for @changeset, @path, [method: @form_method], fn f -> %>
  <div class="form-group">
    <%= label f, :title, class: "form-label" %>
    <%= bootstrap_text_input f, :title, required: true %>
    <%= error_tag f, :title %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "form-label" %>
    <%= bootstrap_textarea f, :description, required: true %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-actions">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
