<header class="page-header">
  <h1>Edit Ticket "<%= @ticket.title %>"</h1>
</header>

<%= render("_form.html", Map.merge(assigns, %{
      path: Routes.project_ticket_path(@conn, :update, @project, @ticket),
      form_method: "patch",
    })) %>
