<header class="page-header">
  <h1>New Ticket for "<%= @project.name %>"</h1>
</header>

<%= render("_form.html", Map.merge(assigns, %{
      path: Routes.project_ticket_path(@conn, :create, @project),
      form_method: "post",
    })) %>
