<p><%= link "Back", to: Routes.project_path(@conn, :show, @project) %></p>

<header class="page-header">
  <div class="title-group">
    <h1 class="ticket-title">
      <%= @ticket.title %>
    </h1>

    <h2 class="project-name">
      <%= link @project.name, to: Routes.project_path(@conn, :show, @project) %>
    </h2>
  </div>

  <div class="actions" role="group" aria-label="Ticket actions">
    <%= if allowed?(@current_user, :index, {@ticket, Comment}) do %>
      <%= link "Comments (#{@ticket.comment_count})", to: Routes.ticket_comment_path(@conn, :index, @ticket), class: "link-comments" %>
    <% end %>


    <%= if allowed?(@current_user, :index, {@ticket, Tag}) do %>
      <%= link "Tags", to: Routes.ticket_tag_path(@conn, :index, @ticket), class: "link-tags" %>
    <% end %>

    <%= if @watcher do %>
      <%= if allowed?(@current_user, :delete, {@ticket, TicketWatcher}) do %>
        <%= link "Unwatch", to: Routes.ticket_watcher_path(@conn, :delete, @ticket),
              class: "link-unwatch", method: :delete %>
      <% end %>
    <% else %>
      <%= if allowed?(@current_user, :create, {@ticket, TicketWatcher}) do %>
        <%= link "Watch", to: Routes.ticket_watcher_path(@conn, :create, @ticket),
              class: "link-watch", method: :post %>
      <% end %>
    <% end %>

    <%= if allowed?(@current_user, :update, {@project, @ticket}) do %>
      <%= link "Edit", to: Routes.project_ticket_path(@conn, :edit, @project, @ticket), class: "link-edit" %>
    <% end %>
    <%= if allowed?(@current_user, :delete, {@project, @ticket}) do %>
      <%= link "Delete", to: Routes.project_ticket_path(@conn, :delete, @project, @ticket), class: "link-delete",
            method: :delete, data: [confirm: "Are you sure?"] %>
    <% end %>
  </div>
</header>

<section class="container">
  <div class="ticket-description">
    <%= text_to_html(@ticket.description) %>
  </div>

  <table id="ticket-attributes" class="table">
    <tbody>
      <tr>
        <th scope="row">Author</th>
        <td class="author-info"><%= ticket_author(@ticket) %></td>
      </tr>
      <tr>
        <th scope="row">Created At</th>
        <td class="created-at-info"><%= ticket_created_at(@ticket) %></td>
      </tr>
      <%= if @ticket.state do %>
        <tr>
          <th scope="row">State</th>
          <td class="state"><%= search_state_badge(@conn, @ticket.state) %></td>
        </tr>
      <% end %>
      <%= if Enum.any?(@ticket.tags) do %>
        <tr>
          <th scope="row">Tags</th>
          <td class="tags">
            <%= for tag <- @ticket.tags do %>
              <%= search_tag_badge(@conn, tag) %>
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>

<section class="container">
  <header class="page-header">
    <h2>Attachments</h2>

    <div class="actions" role="group" aria-label="Attachment actions">
      <%= if allowed?(@current_user, :create, {@ticket, TicketAttachment}) do %>
        <%= link "New Attachment", to: Routes.ticket_attachment_path(@conn, :new, @ticket), class: "link-add" %>
      <% end %>
    </div>
  </header>

  <div class="ticket-attachment-container">
    <%= for attachment <- @attachments do %>
      <article class="card">
        <%= attachment_preview_img(@conn, attachment) %>
        <div class="card-body">
          <h4 class="card-title">
            <%= link attachment.file, to: attachment_path(@conn, attachment) %>
            <span class="attachment-size">(<%= Attachments.file_size_description(attachment.size) %>)</span>

            <%= if allowed?(@current_user, :delete, {@ticket, attachment}) do %>
              <%= link "Delete", to: attachment_path(@conn, attachment), class: "link-delete",
                    method: :delete, data: [confirm: "Are you sure you want to delete this attachment?"] %>
            <% end %>
          </h4>
          <%= if attachment.description do %>
            <%= text_to_html(attachment.description, attributes: [class: "card-text"]) %>
          <% end %>
        </div>
      </article>
    <% end %>
    <%= if Enum.empty?(@attachments) do %>
      <p>No attachments currently</p>
    <% end %>
  </div>
</section>
