/* This file is for your main application css. */
@import "~bootstrap/scss/bootstrap";
@import "./icons";
@import "./alerts";
@import "./forms";

// Layout

.main-header {
  @extend .container;
  margin-bottom: 1rem;
}

.page-header {
  @extend .container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0px;

  h1 {
    margin-top: 1rem;
    margin-right: auto;
  }

  .actions {
    @extend .btn-group;

    a {
      margin: 0.5em;
    }
  }
}

// Navbar

.signed-in-user {
  @extend .nav-link;
  @extend .text-white
}

// Action Links
.actions {
  a.link-comments,
  a.link-tags,
  a.link-search,
  a.link-watch,
  a.link-unwatch,
  a.link-add,
  a.link-delete,
  a.link-edit {
    @extend .btn;

    &:before {
      @extend .bi::before;
      padding-right: 0.5em;
    }
  }

  a.link-add {
    @extend .btn-success;

    &:before {
      @extend .bi-plus-lg::before;
    }
  }

  a.link-edit {
    @extend .btn-primary;

    &:before {
      @extend .bi-pencil::before;
    }
  }

  a.link-delete {
    @extend .btn-danger;

    &:before {
      @extend .bi-trash::before;
    }
  }

  a.link-comments {
    @extend .btn-success;

    &:before {
      @extend .bi-chat-left-text::before;
    }
  }

  a.link-tags {
    @extend .btn-success;

    &:before {
      @extend .bi-tags::before;
    }
  }

  a.link-search {
    @extend .btn-success;

    &:before {
      @extend .bi-search::before;
    }
  }

  a.link-watch {
    @extend .btn-success;

    &:before {
      @extend .bi-eye::before;
    }
  }

  a.link-unwatch {
    @extend .btn-danger;

    &:before {
      @extend .bi-eye-slash::before;
    }
  }
}

// Table Row Action Links
.row-actions {
  @extend .btn-group;

  a.link-edit,
  a.link-delete,
  a.link-set-default,
  a.link-promote,
  a.link-roles,
  a.link-archive,
  a.link-restore {
    @extend .btn;
    margin: 0 0.5em;

    &:before {
      @extend .bi::before;
      padding-right: 0.5em;
    }
  }

  a.link-edit {
    @extend .btn-outline-primary;

    &:before {
      @extend .bi-pencil::before;
    }
  }

  a.link-promote {
    @extend .btn-outline-primary;

    &:before {
      @extend .bi-key::before;
    }
  }

  a.link-delete {
    @extend .btn-outline-danger;

    &:before {
      @extend .bi-trash::before;
    }
  }


  a.link-archive {
    @extend .btn-outline-danger;

    &:before {
      @extend .bi-lock-fill::before;
    }
  }

  a.link-restore {
    @extend .btn-outline-success;

    &:before {
      @extend .bi-unlock-fill::before;
    }
  }

  a.link-set-default,
  a.link-roles {
    @extend .btn-outline-success;

    &:before {
      @extend .bi-list-stars::before;
    }
  }
}

// Roles

.bg-viewer {
  @extend .bg-primary;
}

.bg-editor {
  @extend .bg-warning;
}

.bg-manager {
  @extend .bg-success;
}

#new_project_role_form,
.user-role-group {
  margin: 1rem auto 1rem 2rem;
  max-width: 400px;
  padding: 0.5rem;
  border: 1px solid #6c757d;

  &:focus-within {
    border: 1px solid #0d6efd;
  }

  .btn-close {
    float: right;
  }

  .project-name {
    font-weight: bold;
    margin-right: 0.5em;
  }
}

#new_project_role_form .form-select {
  margin-bottom: 1rem;
}

// Attachments

.attachment-img {
  max-width: 400px;
}

.ticket-attachment-container {
  @extend .row;
  @extend .g-4;

  .card {
    @extend .border-primary;
    @extend .text-center;

    margin-right: 1em;
    padding: 1em;
    width: 400px;

    span.attachment-size {
      font-size: 1.2rem;
    }

    a.link-delete {
      @extend .btn;
      @extend .btn-danger;
      margin-left: 1rem;

      &:before {
        @extend .bi::before;
        @extend .bi-trash::before;

        padding-right: 0.5em;
      }
    }
  }
}

// Comments

.comments-container {
  list-style: none;
  margin: 1rem auto 1rem 1rem;
  padding: 1rem;
  border-radius: 0.25rem;
  max-width: 800px;

  .comment {
    display: flex;
    justify-content: space-between;

    @extend .border-bottom;
    line-height: 1.25;
    padding: 1rem;

    .comment-user {
      font-weight: bold;
      display: block;
    }

    .comment-description {
      display: block;
      margin: 1rem auto;
    }

    .comment-inserted-at {
      display: block;
      font-style: italic;
    }
  }
}

// States

.state-badge {
  @extend .badge;
  @extend .text-white;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.comment-state-transition {
  &::before {
    @extend .bi::before;
    @extend .bi-gear-fill::before;
    margin-right: 0.25rem;
  }
}

.states-table {
  .state-badge {
    font-size: 1.0rem;
  }
}

// Tags

.tag-badge {
  @extend .badge;
  @extend .bg-secondary;

  a {
    text-decoration: none;
    color: #fff;
  }
}

.new-tag-entry {
  display: inline-block;
}

.new-tag-entry + .new-tag-entry {
  margin-left: 0.5em;
}

.remove-tag {
  @extend .btn-close;
  @extend .btn-close-white;

  width: 0.4em;
  height: 0.4em;
  vertical-align: middle;
}

.tag-badge .remove-tag {
  margin-left: 0.4em;
}
