// Bootstrap Icons
@font-face {
  font-family: "bootstrap-icons";
  src: url("~bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
       url("~bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff");
}

.bi::before {
  display: inline-block;
  font-family: "bootstrap-icons";
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bi-key::before { content: "\f44f"; }
.bi-pencil::before { content: "\f4cb"; }
.bi-plus-lg::before { content: "\f64d"; }
.bi-trash::before { content: "\f5de"; }

.bi-lock-fill::before { content: "\f47a"; }
.bi-unlock-fill::before { content: "\f5ff"; }

.bi-list-stars::before { content: "\f476"; }
.bi-chat-left-text::before { content: "\f252"; }
.bi-gear-fill::before { content: "\f3e2"; }

.bi-tags::before { content: "\f5b2"; }
.bi-search::before { content: "\f52a"; }

.bi-eye-slash::before { content: "\f340"; }
.bi-eye::before { content: "\f341"; }
