<header class="page-header">
  <h1>Users</h1>

  <div class="actions" role="group" aria-label="User actions">
    <%= link "New User", to: Routes.user_path(@conn, :new), class: "link-add" %>
  </div>
</header>

<table class="table users-table">
  <thead>
    <th scope="col">Email</th>
    <th scope="col">Role</th>
    <th scope="col">Actions</th>
  </thead>
  <tbody>
    <%= for user <- @users do %>
      <tr class="user-row">
        <td class="user-email"><strong><%= user.email %></strong></td>
        <td class="user-role"><%= user_role(user) %></td>
        <td class="user-actions">
          <div class="row-actions" role="group" aria-label="User actions">
            <%= link "Roles", to: Routes.user_role_path(@conn, :show, user), class: "link-roles" %>
            <%= unless admin?(user) do %>
              <%= if archived?(user) do %>
                <%= link "Restore", to: Routes.user_path(@conn, :archive, user, [user: [archive: false]]),
                      class: "link-restore",
                      method: :patch, data: [confirm: "Are you sure you want to restore this user?"] %>
              <% else %>
                  <%= link "Archive", to: Routes.user_path(@conn, :archive, user, [user: [archive: true]]),
                        class: "link-archive",
                        method: :patch, data: [confirm: "Are you sure you want to archive this user?"] %>
                <%= unless admin?(user) do %>
                  <%= link "Promote to Admin", to: Routes.user_path(@conn, :promote, user, [user: [promote: "admin"]]),
                        class: "link-promote",
                        method: :patch, data: [confirm: "Are you sure you want to promote this user to an admin?"] %>
                <% end %>
              <% end %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
