<header>
  <h1>Create new user</h1>
</header>

<%= form_for @changeset, Routes.user_path(@conn, :create), fn f -> %>
  <div class="form-group">
    <%= label f, :email, class: "form-label" %>
    <%= bootstrap_email_input f, :email, required: true %>
    <%= error_tag f, :email %>
  </div>

  <div class="form-group form-check mb-2">
    <%= checkbox f, :admin, class: "form-check-input" %>
    <%= label f, :admin, "Is admin?", class: "form-check-label" %>
    <%= error_tag f, :admin %>
  </div>

  <div class="form-group">
    <%= label f, :password, class: "form-label" %>
    <%= bootstrap_password_input f, :password, required: true %>
    <%= error_tag f, :password %>
  </div>

  <div class="form-group">
    <%= label f, :password_confirmation, class: "form-label" %>
    <%= bootstrap_password_input f, :password_confirmation, required: true %>
    <%= error_tag f, :password_confirmation %>
  </div>

  <div class="form-actions">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
