<%= form_for @changeset, @form_path, fn f -> %>
  <div class="form-group">
    <%= label f, :name %>
    <%= bootstrap_text_input f, :name, required: true %>
    <%= error_tag f, :name %>
  </div>

  <div class="form-group">
    <%= label f, :color %>
    <%= bootstrap_color_input f, :color, required: true %>
    <%= error_tag f, :color %>
  </div>

  <div class="form-group">
    <%= label f, :order_no %>
    <%= bootstrap_number_input f, :order_no, required: true, step: 1, min: 0, max: 100 %>
    <%= error_tag f, :order_no %>
  </div>

  <div class="form-actions">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
