<header class="page-header">
  <h1>Edit state: <%= @state.name %></h1>
</header>

<%= render("_form.html", Map.merge(assigns, %{
      form_path: Routes.state_path(@conn, :update, @state),
    })) %>
