<header class="page-header">
  <h1>States</h1>

  <div class="actions" role="group" aria-label="State actions">
    <%= link "New State", to: Routes.state_path(@conn, :new), class: "link-add" %>
  </div>
</header>

<table class="table states-table">
  <thead>
    <th scope="col">Name</th>
    <th scope="col">Color</th>
    <td></td>
  </thead>
  <tbody>
    <%= for state <- @states do %>
      <tr id="state-row-<%= state.id %>" class="state-row">
        <td class="state-name"><%= state_badge(state) %></td>
        <td class="state-color"><%= state.color %></td>
        <td class="state-actions">
          <div class="row-actions" role="group" aria-label="State actions">
            <%= link "Edit", to: Routes.state_path(@conn, :edit, state), class: "link-edit" %>
            <%= link "Delete", to: Routes.state_path(@conn, :delete, state), class: "link-delete",
                  method: :delete, data: [confirm: "Are you sure you want to delete this state?"] %>
            <%= if state.default do %>
              <span class="state-badge align-self-center bg-secondary">Default</span>
            <% else %>
              <%= link "Set as default", to: Routes.state_path(@conn, :make_default, state),
                    method: :patch, class: "link-set-default" %>
            <% end %>
          </div>
        </td>
      </tr>
    <% end %>
    <%= if Enum.empty?(@states) do %>
      <tr>
        <td colspan="3">No states yet.</td>
      </tr>
    <% end %>
  </tbody>
</table>
