<header class="page-header">
  <h1>Add new attachment for: <%= @ticket.title %></h1>
</header>

<%= form_for @changeset, Routes.ticket_attachment_path(@conn, :create, @ticket), [multipart: true], fn f -> %>
  <div class="form-group">
    <%= label f, :file, class: "form-label" %>
    <%= file_input f, :file, class: "form-control",
          accept: Upload.allowed_mime_types() |> Enum.join(", ") %>
    <%= error_tag f, :file %>
  </div>

  <div class="form-group">
    <%= label f, :description, class: "form-label" %>
    <%= bootstrap_textarea f, :description %>
    <%= error_tag f, :description %>
  </div>

  <div class="form-actions">
    <%= submit "Save", class: "btn btn-primary" %>
  </div>
<% end %>
