<nav role="navigation" class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <%= link "Ticketee", to: Routes.project_path(@conn, :index), class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main-container" aria-controls="navbar-main-container" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <section class="navbar-collapse collapse" id="navbar-main-container">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <%= nav_link @conn, "Projects", to: Routes.project_path(@conn, :index) %>
        </li>
        <li class="nav-item">
          <%= nav_link @conn, "Search Tickets", to: Routes.ticket_search_path(@conn, :index) %>
        </li>
        <%= if function_exported?(Routes, :live_dashboard_path, 2) do %>
          <li class="nav-item">
            <%= nav_link @conn, "LiveDashboard", to: Routes.live_dashboard_path(@conn, :home) %>
          </li>
        <% end %>
      </ul>

      <ul class="navbar-nav mb-2 mb-md-0">
        <%= if @conn.assigns[:current_user] do %>
          <%= if admin?(@conn.assigns[:current_user]) do %>
            <li class="nav-item">
              <%= nav_link @conn, "Admin Area", to: Routes.page_path(@conn, :admin_index), class: "nav-link link-admin" %>
            </li>
          <% end %>
          <li class="nav-item">
            <%= link @current_user.email, to: Routes.account_path(@conn, :show), class: "signed-in-user" %>
          </li>
          <li class="nav-item">
            <%= nav_link @conn, "Sign out", to: Routes.session_path(@conn, :delete), method: :delete %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= nav_link @conn, "Sign in", to: Routes.session_path(@conn, :new) %>
          </li>
          <li class="nav-item">
            <%= nav_link @conn, "Sign up", to: Routes.account_path(@conn, :new) %>
          </li>
        <% end %>
      </ul>
    </section>
  </div>
</nav>
