<!DOCTYPE html>
<html>
<head>
  <title>Ticketee</title>
  <link rel="stylesheet" type="text/css" href="<%= Routes.static_url(TicketeeWeb.Endpoint, "/email_assets/email.css") %>">
</head>
<body>
  <%= @inner_content %>
</body>
</html>
