<header class="page-header">
  <h1>Search tickets</h1>
</header>

<section class="container">
  <%= form_for @conn, Routes.ticket_search_path(@conn, :index), [as: :search, method: :get], fn f -> %>
    <div class="form-group">
      <%= label f, :project_id, "Project", class: "form-label" %>
      <%= select f, :project_id, project_search_options(@projects), class: "form-select",
            prompt: "Any Project", selected: @search_params["project_id"] %>
    </div>

    <div class="form-group">
      <%= label f, :ticket_title, "Title", class: "form-label" %>
      <%= bootstrap_text_input f, :ticket_title, value: @search_params["ticket_title"] %>
    </div>

    <div class="form-group">
      <%= label f, :state_name, "State", class: "form-label" %>
      <%= select f, :state_name, state_search_options(@states), class: "form-select",
            prompt: "Any state", selected: @search_params["state_name"] %>
    </div>

    <div class="form-group">
      <%= label f, :tag_name, "Tag", class: "form-label" %>
      <%= select f, :tag_name, tag_search_options(@tags), class: "form-select",
            prompt: "Any tag", selected: @search_params["tag_name"] %>
    </div>

    <div class="form-actions">
      <%= submit "Search", class: "btn btn-primary" %>
    </div>
  <% end %>

  <table class="table tickets-table">
    <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Title</th>
        <th scope="col">State</th>
        <th scope="col">Author</th>
        <th scope="col">Description</th>
        <th scope="col">Tags</th>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <%= for ticket <- @tickets do %>
        <tr class="ticket-row">
          <td class="ticket-project">
            <%= link ticket.project.name, to: Routes.project_path(@conn, :show, ticket.project) %>
          </td>
          <td class="ticket-title">
            <%= link ticket.title, to: Routes.project_ticket_path(@conn, :show, ticket.project, ticket) %>
          </td>
          <td class="ticket-state"><%= search_state_badge(@conn, ticket.state) %></td>
          <td class="ticket-author"><%= ticket_author(ticket) %></td>
          <td class="ticket-description"><%= ticket.description %></td>
          <td class="ticket-tags">
            <%= for tag <- ticket.tags do %>
              <%= search_tag_badge(@conn, tag) %>
            <% end %>
          </td>
        </tr>
      <% end %>
      <%= if Enum.empty?(@tickets) do %>
        <tr>
          <td colspan="6">No tickets found.</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
